<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zxx" class="no-js">
<head>
	<!-- Include meta tags -->
	<th:block th:replace="~{fragments/head :: meta}" />

	<!-- Page title -->
	<title>Moment Details</title>

<!--&lt;!&ndash;	ToDo: remove or replace boostrap include with url&ndash;&gt;-->
<!--	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">-->

	<!-- Include common CSS -->
	<th:block th:replace="~{fragments/head :: common-css}" />
</head>

<body>

<!-- Include header -->
<header th:replace="~{fragments/header :: header}"></header>

<!-- Banner -->
<div th:replace="~{fragments/banner :: banner('Moments Event Platform', 'Feel The Moment')}"></div>

<!-- Warning message -->
<div th:if="${message}" class="alert alert-warning text-center" role="alert">
	<span th:text="${message}"></span>
</div>

<form th:action="@{/moment}" th:object="${momentDto}" method="post" class="needs-validation">

	<input type="hidden" id="momentId" name="id" th:field="*{id}" readonly>
	<input type="hidden" id="hostId" name="hostId" th:field="*{hostId}" class="form-control" required>

	<!--================Single Product Area =================-->
<div class="product_image_area">
	<div class="container">
		<div class="row s_product_inner">
			<div class="col-lg-6">
				<div class="s_Product_carousel">
					<div class="single-prd-item">
						<img class="img-fluid" th:src="${momentDto.thumbnail}" alt="">
					</div>
					<!--			ToDo: add more images or remove-->
					<div class="single-prd-item">
						<img class="img-fluid" th:src="${momentDto.thumbnail}" alt="">
					</div>
					<div class="single-prd-item">
						<img class="img-fluid" th:src="${momentDto.thumbnail}" alt="">
					</div>
				</div>
			</div>
			<div class="col-lg-5 offset-lg-1">
				<div class="s_product_text">
					<h3 th:text="${momentDto.title}">Moment Title: </h3>
					<!--						-->
<!--					<h4 th:text="${startDate}">Start Date</h4>-->

					<ul class="list col-md-8">
						<!--			ToDo: make ticket count colored and disabled -> css and aria for disabled most likely				-->
						<li>
<!--							<div class="default-select" id="default-select">-->
<!--								<select style="display: none;">-->
<!--									<option value="1">English</option>-->
<!--									<option value="2">Spanish</option>-->
<!--								</select>-->
<!--								<div class="nice-select" tabindex="0">-->
<!--									<span class="current">English</span>-->
<!--									<ul class="list">-->
<!--										<li data-value="1" class="option selected focus">English</li>-->
<!--										<li data-value="2" class="option">Spanish</li>-->
<!--									</ul>-->
<!--								</div>-->
<!--							</div>-->
							<div class="row align-items-center">
							<div class="col">
								<a class="active">
									<span>Category</span>
								</a>
							</div>
							<div class="col default-select" id="default-select">
								<select style="display: none;" id="categoryId" name="categoryId" th:field="*{categoryId}"> <!--id="categoryId" name="categoryId" th:field="*{categoryId}" required>-->
									<option th:each="category : ${categories}"
													th:value="${category.categoryId}"
													th:text="${category.categoryName}"></option>
								</select>
								<div class="nice-select" tabindex="0">
										<span th:each="category : ${categories}"
													th:if="${category.categoryId == momentDto.categoryId}"
													th:text="${category.categoryName}"
													class="current">Category</span>
									<ul class="list">
<!--											<li data-value=" 1" class="option selected focus">English</li>-->
										<li th:each="category : ${categories}"
												th:data-value="${category.categoryId}"
												th:text="${category.categoryName}"
												class="option"
												th:classappend="${category.categoryId == momentDto.categoryId} ? ' selected focus' : ''"
										></li>
									</ul>
								</div>
							</div>
				</div>
							<div class="text-danger" th:if="${#fields.hasErrors('categoryId')}" th:errors="*{categoryId}"></div>
						</li>
						<li><a class="active" href="#"><span>Available tickets</span>
							<th:block th:text="${' : ' + momentDto.ticketCount}"></th:block></a>
						</li>
						<li><a class="active" href="#"><span>Recurrence</span>
							<th:block th:text="${' : ' + momentDto.recurrence}"></th:block></a></li>
						<li><a class="active" href="#"><span>City</span>
							<th:block th:text="${' : ' + momentDto.location.city}"></th:block></a>
						</li>
					</ul>
					<p th:text="${momentDto.shortDescription}">Placeholder text</p>


					<h2 th:text="${'€' + momentDto.price}">€0.00</h2>

					<div class="product_count">
						<!--							<label for="qty">Quantity:</label>-->
						<input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:" class="input-text qty">
						<button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
										class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
						<button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
										class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
					</div>
					<div class="card_area d-flex align-items-center">
						<a class="primary-btn" href="#">Add to Cart</a>
						<a class="icon_btn" href="#"><i class="lnr lnr lnr-diamond"></i></a>
						<a class="icon_btn" href="#"><i class="lnr lnr lnr-heart"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--================End Single Product Area =================-->

<!--================Product Description Area =================-->
<section class="product_description_area">
	<div class="container">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Description</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="location-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
					 aria-selected="false">Location</a>
			</li>
		</ul>
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
				<p th:text="${momentDto.momentDetails.description}">Placeholder for long description</p>
			</div>
			<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="location-tab">
				<div class="table-responsive">
					<table class="table">
						<tbody>
						<!--                <tr style="display: none;">-->
						<!--                  <td>-->
						<!--                    <h5>Location ID</h5>-->
						<!--                  </td>-->
						<!--                  <td>-->
						<!--                    <h5 th:text="${momentDto.location.id}"></h5>-->
						<!--                  </td>-->
						<!--                </tr>-->
						<tr>
							<td></td>
							<td>
								<h5>City</h5>
							</td>
							<td>
								<h5 th:text="${momentDto.location.city}"></h5>
							</td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td>
								<h5>Address</h5>
							</td>
							<td>
								<h5 th:text="${momentDto.location.address}"></h5>
							</td>
							<td></td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Product Description Area =================-->

</form>

<!-- Include footer fragment -->
<div th:replace="~{fragments/footer :: footer}"></div>

<!--&lt;!&ndash; ToDo: remove JS bootstrap	&ndash;&gt;-->
<!--	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>-->


<!-- JS Scripts -->
<div th:replace="~{fragments/common-scripts}"></div>

</body>

</html>